<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
  <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
    <a class="navbar-brand" href="/">Home</a>
  <div id="navLinks" class="col-xs-12 text-center">
  </div>
  </div>
</nav>
