<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IMAP Sync</title>

  <!-- Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-xWeRKjzyg6bep9D1AsHzUPEWHbWMzlRc84Z0aG+tyms= sha512-mGIRU0bcPaVjr7BceESkC37zD6sEccxE+RJyQABbbKNe83Y68+PyPM5nrE1zvbQZkSHDCJEtnAcodbhlq2/EkQ==" crossorigin="anonymous">
  <link href="stylesheets/style.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<% include ./partials/navbar %>
  <div class="container">
    <div class="header">

      <h3 class="text-muted">IMAPSYNC GUI</h3>
    </div>
    <form id="details" role="form" method="POST" action="/move">
      <div class="col-sm-5" id="from">
        <h3>From</h3>

        <div class="form-group row">
          <label for="fromEmail" class="col-sm-2 form-control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="fromEmail" placeholder="Email">
          </div>
        </div>

        <div class="form-group row">
          <label for="fromPassword" class="col-sm-2 form-control-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="fromPassword" placeholder="Password">
          </div>
        </div>

        <div class="form-group row">
          <label for="fromHost" class="col-sm-2 form-control-label">Host</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="fromHost" placeholder="Host">
          </div>
        </div>

        <div class="form-group row">
          <label for="fromDomain" class="col-sm-2 form-control-label">Domain</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="fromDomain" placeholder="Domain">
          </div>
        </div>

        <div class="form-group row">
          <label for="fromPort" class="col-sm-2 form-control-label">Port</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="fromPort" placeholder="Port">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="fromSSL"> Use SSL?
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-5 col-sm-offset-2" id="to">
        <h3>To</h3>

        <div class="form-group row">
          <label for="toEmail" class="col-sm-2 form-control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="toEmail" placeholder="Email">
          </div>
        </div>

        <div class="form-group row">
          <label for="toPassword" class="col-sm-2 form-control-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="toPassword" placeholder="Password">
          </div>
        </div>

        <div class="form-group row">
          <label for="toHost" class="col-sm-2 form-control-label">Host</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="toHost" placeholder="Host">
          </div>
        </div>

        <div class="form-group row">
          <label for="toDomain" class="col-sm-2 form-control-label">Domain</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="toDomain" placeholder="Domain">
          </div>
        </div>

        <div class="form-group row">
          <label for="toPort" class="col-sm-2 form-control-label">Port</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="toPort" placeholder="Port">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="toSSL"> Use SSL?
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12 text-center">
          <button type="submit" id="submit" class="btn btn-default" disabled>Submit</button>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12 text-center">
          <div class="checkbox">
            <label>
              <input type="checkbox" checked="checked" id="dryrun"> Dry Run?
            </label>
          </div>
        </div>
      </div>

    </form>
  </div>
  <!-- /container -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha256-GMscmjNs6MbZvXG2HRjP3MpdOGmXv078SRgH7M723Mc= sha512-1wnhBRtA+POGVA0yREk2RlDbJEdkNvMuRBGjT1FCI5wXmpiQHZWDIB8MpANBWM/GKSPDgCA/7HTrAIFgv70/Jw==" crossorigin="anonymous"></script>
  <script>
    $(function() {
      var Email = function() {
        this.from = {
          host: false,
          email: false,
          password: false,
          domain: false,
          port: false,
          usessl: false,
          dryrun: false
        };
        this.to = {
          host: false,
          email: false,
          password: false,
          domain: false,
          port: false,
          usessl: false
        };
      }
      Email.prototype = {
        updateValues: function() {
          this.from.host = $('#fromHost').val();
          this.from.email = $('#fromEmail').val();
          this.from.password = $('#fromPassword').val();
          this.from.domain = $('#fromDomain').val();
          this.from.port = $('#fromPort').val();
          this.from.usessl = $("#fromSSL").is(':checked');
          this.from.dryrun = $('#dryrun').is(':checked');

          this.to.host = $('#toHost').val();
          this.to.email = $('#toEmail').val();
          this.to.password = $('#toPassword').val();
          this.to.domain = $('#toDomain').val();
          this.to.port = $('#toPort').val();
          this.to.usessl = $("#toSSL").is(':checked');
/*
          var server = $('#toEmail').val().match(/@(.+)/) || [];
          if (server.length == 2) {
            $('#toHost').val('imap.' + server[1]);
          }

          var server = $('#fromEmail').val().match(/@(.+)/) || [];
          if (server.length == 2) {
            $('#fromHost').val('imap.' + server[1]);
          }
*/
          if (this.from.host && this.from.email && this.from.password && this.to.host && this.to.email && this.to.password) {
            $('button#submit').removeClass('btn-default').addClass('btn-primary').attr("disabled", false);
          } else {
            $('button#submit').removeClass('btn-primary').addClass('btn-default').attr("disabled", true);
          }
        }
      }
      var Page = new Email();
      $('#submit').on('click', function() {
        $.post('/move', {
            to: Page.to,
            from: Page.from
          })
          .done(function(data) {
            window.location.href = data.url;
            // $('.jumbotron').replaceWith(data);
          });
        return false;
      });
      $('input').change(function() {
        Page.updateValues();
      });
    });
  </script>

</body>

</html>
